@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    overflow: hidden;
    font-family: 'Outfit', sans-serif;
}

#card {
    max-width: 70%;
    max-width: 310px;
    margin: 70px auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 18px;
}


.box {
    border: 1px black;
    border-radius: 10px;
    padding: 1rem 1rem 2.5rem;
}

img {
    width: 100%;
    border-radius: 10px;
}

.info {
    max-width: 270px;
    margin: 20px auto 0;
    text-align: center;
}

h1 {
    font-size: 1.4rem;
    font-weight: 700;
}

.info p {
    margin: 15px auto 0;
    font-size: 0.8;
    color: hsl(220, 15%, 55%);
    max-width: 250px;
    font-weight: 400;
}

@media (max-width: 385px) {
    #card {
        max-width: 320px;
        margin: 30px auto 50px;
    }

    h1 {
        font-size: 1.2rem;
    }
}